* {
  padding: 0;
  margin: 0;
 
  height: auto;
  width: auto;
  text-align: center;


}

h1 {
  padding: 02%;
  color: white;
  font-size: 800%;
}


.nav li  a {
  margin: 0;
  padding: 0;
  border: 0;
 

  color: white;
 
  font-family: 'Roboto', sans-serif;
 
  font-size: 400%;
}

header {
  background: #000;
  height: 500%;
  
}

.nav li {
  display: inline-block;
  list-style: none;
  height: 200px;
  
  line-height: 60px;

  padding: 0 40px;
  
}


.nav li:hover {
  background: rgb(122, 119, 119);
  transition: background .3s;
}


.nav-link {
  color: #7a6d6d;
  text-decoration: none;
}

footer .ICONS {

  .fa:hover {
    opacity: 0.9;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-pinterest {
    background: #cb2027;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }



  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;

  }


}

.data {

  display: flex;
  font-size: 80px;
  font-display:initial;
font-weight: 200;
flex-direction: column;
  
}

.acc {
  font-style: oblique;
  object-fit: contain;
  justify-content: space-evenly;

  font-size: 300px;
}
footer p {
  font-size: 400%;
}